.Archive/
bin/
build/
googletest/
output/
MNIST_Processing/drawnImages
MNIST_Processing/MNISTTrainingDatabases
MNIST_Processing/MNISTTrialFour
MNIST_Processing/MNISTTrialThree
MNIST_Processing/MNISTTrialTwo
MNIST_Processing/MNISTTrialFive
MNIST_Processing/MNISTTrialSix
MNIST_Processing/MNISTTrialSeven
MNIST_Processing/MNISTTrialEight
MNIST_Processing/MNISTTrialNine