.Archive/
bin/
build/
googletest/
output/
MNIST_Processing/drawnImages
MNIST_Processing/MNISTTrainingDatabases
MNIST_Processing/MNISTTrialFour
MNIST_Processing/MNISTTrialThree
MNIST_Processing/MNISTTrialTwo